html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #0d0d26;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: green;
}

.side-bar {
    width: 25%;
    color: #ffffff;
}

.side-bar .room-title {
    background-color: #060613;
    padding: 30px 20px;
    font-size: 36px;
    text-align: center;
}

.side-bar .list-user {
    padding: 0px 20px;
    overflow-y: auto;
}

.side-bar .list-user li {
    display: block;
    text-align: center;
    padding: 10px 0px;
    word-break: break-word;
}

.container {
    height: 100%;
    width: 75%;
    margin: 0px;
    /* margin: auto; */
    background-color: #f5f5f0;
    padding: 0px 20px;
}

.container .main-section {
    height: 100%;
    padding: 0px;
    background-color: #ffffff;
    
}

.chatSection {
    height: 70%;
    padding: 20px;
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatSection .chat-wrapper {
    display: flex;
    flex-direction: column;
}

.chatSection .chat-wrapper .chat-content {
    word-break: break-word;
}

.chatSection .notification-wrapper {
    text-align: center;
    font-size: 14px;
    color: #999999;
    margin: 15px 0px;
}

.chatSection .chat-message {
    margin-bottom: 20px;
    max-width: 50%;
}

.chatSection .mine {
    align-self: flex-end;
}

.chatSection .chat-message .header {
    margin-bottom: 5px;
}

.chatSection .chat-message .header .username {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}

.chatSection .chat-message .header .time {
    font-size: 12px;
    color: #999999;
}

#form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#form #message {
    width: 60%;
    padding: 10px 15px;
    border: 1px solid #ebebe0;
}

#form #sendBtn {
    width: 10%;
    border: 1px solid #ebebe0;
    padding: 15px;
    background-color: #7300e6;
    color: #ffffff;
}

#form #shareBtn {
    width: 20%;
    border: 1px solid #ebebe0;
    padding: 15px;
    background-color: #7300e6;
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
        padding: 0px;
    }

    .side-bar {
        width: 0%;
    }

    #form #message, #form #sendBtn, #form #shareBtn {
        width: unset;
    }
}